.selectize-control.uk-input {
	height: auto;
	padding-bottom: -10px;
}
.selectize-input, .selectize-input.has-items {
	border: none;
	min-height: 0px;
	padding-bottom: 0px;
	padding: 0px!important;
	vertical-align: middle;
}
.selectize-input.focus {
	border: none;
	box-shadow: none;
}
.ingredient-list {
	margin-top: 10px;
}
.ingredient-list .uk-input.selectize-control {
	margin-left: 2px;
	margin-right: 2px;
}
.clickable-card {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.uk-card-body {
	padding: 10px;
}
.drink-filter-disable {
	display: none;
}
.drink-filter-disable a {
	background-color: #1e87f0!important;
	color: #fff!important;
}
#upload-button {
	display: none;
}
.cocktail-image {
	border-radius: 10px;
}
.home-image-div {
	min-height: 200px;
	max-height: 200px;
	overflow: hidden;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.home-image {
	opacity: 0%;
}
.home-list {
	padding: 20px 20px;
	background-color: #F8F8F8;
}
body {
	background-color: #F8F8F8;
	height: 100vh;
}
.uk-card-title {
	margin-top: 10px;
}
caption h3 {
	width: 200px;
}
.uk-card {
	overflow-wrap: break-word;
}
.home-card-footer {
	padding: 10px;
}
.drink-detail-image {
	max-height: 85vh;
}
div.filter-menu {
	height: 39px;
	max-height: 100vh;
}
div.filter-menu.expand {
	max-height: 100vh;
	height: auto;
}
ul.filter-menu.expand {
	white-space: normal;
}
#filter-dropdown-button {
	transition: transform 0.25s ease-in-out;
}
#filter-dropdown-button.expand {
	transform: rotate(180deg);
}
ul.filter-menu {
	flex-wrap: nowrap;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	display: inline-block;
}
li.filter-menu, li.filter-menu a {
	margin: 0px!important;
	margin-bottom: 1px!important;
	display: none;
	padding-left: 10px;
}
li.filter-visible {
	margin: 0px;
	padding-left: 10px;
	display: inline-block;
}
li.filter-divider {
	display: inline-block;
	opacity: 40%;
	margin-right: -10px;
	padding: 0px;
}
.link-card-body:hover {
	text-decoration: none;
}
.card-text {
	display: block;
	margin-top: 10px;
}
.uk-nav-primary li a, .uk-offcanvas-bar.uk-light h3 a.uk-offcanvas-close {
	color: gray!important;
}
.uk-offcanvas-bar.uk-light {
	background-color: white!important;
}
.uk-nav-primary li.uk-active a {
	color: black!important;
}
.uk-iconnav.uk-iconnav-vertical.drink-ingredients li {
	padding-top: 3px;
	width: fit-content;
}
ul.uk-iconnav.uk-iconnav-vertical.drink-ingredients {
	padding-left: 15px;
}
.ingredient-drop-hidden div {
	display: none;
}
.selectize-input::after {
	display: none!important;
}